name: Check code quality

on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]

jobs:
  codecovAndSonarcloud:
    runs-on: ubuntu-latest
    steps:
    - name: 1/8 | Checkout repo
      uses: actions/checkout@v6
      with:
        # Disabling shallow clone is recommended for improving relevancy of reporting
        fetch-depth: 0
    - name: 2/8 | Setup Node environment
      uses: actions/setup-node@v6
      with:
        node-version: latest
    - name: 3/8 | Install depedencies
      run: npm ci
    - name: 4/8 | Run linter check
      run: npm run lint
    - name: 5/8 | Run prettier check
      run: npm run prettier:ci
    - name: 6/8 | Run unit tests suite
      run: npm run test:ci
    - name: 7/8 | Run Codecov Uploader
      uses: codecov/codecov-action@v5
      with:
        token: ${{ secrets.CODECOV_TOKEN }}
        files: ./coverage/coverage-final.json
        flags: unittests
        verbose: true
    - name: 8/8 | Run SonarCloud Scanner
      uses: sonarsource/sonarqube-scan-action@v7
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
